<style>
    .backgroundss {
        background: rgb(20, 27, 88);
        background: linear-gradient(50deg, rgba(20, 27, 88, 1) 7%, rgba(45, 74, 225, 1) 70%, rgba(145, 0, 255, 1) 98%);
    }
</style>

<div class="mt-14">
    <p class="text-3xl px-4 lg:text-6xl text-center font-bold">How It Works</p>
    <p class="p-8 text-gray-400 text-md text-center">Step Grow is a business consulting company that provides services
        to small <br /> and
        medium-sized
        enterprises help them to scale </p>
</div>

<div class="mt-10 m-5 flex flex-wrap justify-around gap-10">
    <div
        class="w-60 h-80 rounded-full opacity-95 text-black text-sm flex flex-col justify-center items-center shadow-2xl">
        <img src="../../assets/analysis.webp" class="w-1/2 h-auto max-w-none z-20" />
        <p class="font-bold text-lg"> Analysis </p>
        <p class="p-8 text-gray-500 text-md text-center">Unlock the power of your data with advance analysis techniques.
        </p>
    </div>
    <div
        class="w-60 h-80 rounded-full opacity-95 text-black text-sm flex flex-col justify-center items-center shadow-2xl">
        <img src="../../assets/planningpro.webp" class="w-1/2 h-auto max-w-none z-20" />
        <p class="font-bold text-lg"> Planning </p>
        <p class="p-8 text-gray-500 text-md text-center">Transform your marketing vision into a strategic action plan.
        </p>
    </div>
    <div
        class="backgroundss w-60 h-80 rounded-full opacity-95 text-white text-sm flex flex-col justify-center items-center shadow-2xl">
        <img src="../../assets/launch.webp" class="w-1/2 h-auto max-w-none z-20" />
        <p class="font-bold text-lg"> Launch </p>
        <p class="p-8 text-gray-100 text-md text-center">Launch successful marketing campaigns with our expertise
            guidance.</p>
    </div>
    <div
        class="w-60 h-80 rounded-full opacity-95 text-black text-sm flex flex-col justify-center items-center shadow-2xl">
        <img src="../../assets/result.webp" class="w-1/2 h-auto max-w-none z-20" />
        <p class="font-bold text-lg"> Results </p>
        <p class="p-8 text-gray-500 text-md text-center">Measure the impact of your marketing efforts and drive results.
        </p>
    </div>
</div>

<div class="flex flex-col lg:flex-row flex-1 items-center lg:items-start lg:px-20 mt-16 lg:mx-16 justify-center">
    <img src="../../assets/services.webp" class="w-1/2 h-auto max-w-none z-20" />
    <div class="w-full lg:w-3/4 lg:ml-10">
        <p class=" ml-3 lg:ml-0 text-gray-600">Services</p>
        <p class=" ml-3 lg:ml-0 text-3xl lg:text-6xl text-left font-bold mb-5">Best Quality Services For Your Business</p>
        <div>
            <div class="flex items-center m-5 lg:m-10">
                <img src="../../assets/point1.webp" class="w-14 h-14 max-w-none z-20" /><span
                    class="text-gray-500 ml-5">Our advanced analysis tools
                    will allow you to <br /> achieve the best results.</span>
            </div>
            <div class="flex items-center m-5 lg:m-10">
                <img src="../../assets/point2.webp" class="w-14 h-14 max-w-none z-20" /><span
                    class="text-gray-500 ml-5">You will be guided by our team from planning to <br /> the publication of
                    advertising campaigns</span>
            </div>
            <div class="flex items-center m-5 lg:m-10">
                <img src="../../assets/point3.webp" class="w-14 h-14 max-w-none z-20" /><span
                    class="text-gray-500 ml-5">Call us anytime during the day, our team is <br/> available 7 days a week</span>
            </div>
            <button class="bg-blue-600 ml-7 lg:ml-0 opacity-95 hover:opacity-100 p-3 px-7 rounded-3xl text-white shadow-xl">Try now</button>
        </div>
    </div>
</div>