<style>
    .backgroundss {
        background: rgb(20, 27, 88);
        background: linear-gradient(50deg, rgba(20, 27, 88, 1) 7%, rgba(45, 74, 225, 1) 70%, rgba(145, 0, 255, 1) 98%);
    }
</style>
<div class="flex flex-col w-screen h-auto items-center">
    <p class="text-3xl px-4 lg:text-6xl text-center font-bold">Pricing Plans</p>
    <div class="flex flex-1 flex-wrap">
        <div class="backgroundss flex flex-col w-96 h-96 m-10 p-10 rounded-xl">
            <p class="text-6xl font-bold text-white">$60/mon</p>
            <ol class="text-left text-white text-lg mt-10">
                <li>🚀 Free trial</li>
                <li>🚀 3 months of complete assistance</li>
                <li>🚀 3 months of audience boots</li>
                <li>🚀 3 months of free campaigns</li>
            </ol>
            <button
                class="mt-5 border-gray-500 bg-white border hover:bg-slate-50 p-3 px-7 rounded-3xl text-black shadow-xl">Try
                now</button>
        </div>
        <div class="backgroundss flex flex-col w-96 h-96 m-10 p-10 rounded-xl">
            <p class="text-6xl font-bold text-white">$1200/yr</p>
            <ul class="text-left text-white text-lg mt-10">
                <li>🚀 Free trial</li>
                <li>🚀 Unlimited assistance from our expertise</li>
                <li>🚀 Unlimited audience boots</li>
                <li>🚀 Unlimited free campaigns</li>
            </ul>
            <button
                class="mt-5 border-gray-500 bg-white border hover:bg-slate-50 p-3 px-7 rounded-3xl text-black shadow-xl">Try
                now</button>
        </div>
    </div>
</div>

<div class="flex flex-col lg:flex-row flex-1 w-screen h-auto justify-center">
    <div class="lg:w-1/2 ml-5 lg:ml-10">
        <p class="text-gray-500">Our work</p>
        <span class="text-3xl lg:text-6xl font-bold inline-flex items-center">What We Do For You?<img
                src="../../assets/launch.webp" class="w-20 h-20" /></span>
        <p class="text-gray-500 mt-3 lg:w-3/5">At our marketing agency, we leverage social media platforms like Instagram, Meta,
            and TicTok to help
            business
            grow. Our team creates compelling content and engages with followers to build a loyal audience.
            We also
            target advertising to reach potential customers and drive traffic to our client's website</p>
                <div class="flex mt-5 lg:mt-10">
                    <button
                        class="bg-blue-600 opacity-95 hover:opacity-100 p-3 px-7 rounded-3xl text-white shadow-xl">Try
                        now</button>
                    <button
                        class=" border-gray-500 border hover:bg-slate-50 p-3 px-7 rounded-3xl text-black shadow-xl ml-5">Sign
                        up
                        -></button>
                </div>
    </div>
    <img src="../../assets/pricing.webp" class="" />
</div>