<nav class="flex flex-col sm:flex-row lg:items-center flex-1 flex-wrap text-base bg-white p-6">
  <div class="flex flex-1 justify-between">
    <div class="flex items-center flex-shrink-0 text-black mr-6 lg:ml-16">
      <img src="../assets/logo.png" class="w-7 h-7 max-w-none" /><span class="font-semibold text-xl tracking-tight">Logo</span>
    </div>
    <div class="flex flex-1 justify-end lg:hidden">
      <button class="flex flex-1 justify-end px-3 py-2 border rounded text-black border-white" (click)="toggleMenu()">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="absolute lg:static bg-white top-16 w-screen lg:w-auto left-0 lg:flex flex-1 lg:justify-end z-50" *ngIf="showMenu">
      <div class="flex flex-col lg:flex-row items-center gap-5 lg:gap-10">
        <a href="#home" class="hover:text-blue-600 border-b-2 w-full text-center p-3 px-7 border-b-white transition-all hover:border-b-blue-600 ease-in-out">
          Home
        </a>
        <a href="#about" class="hover:text-blue-600 border-b-2 w-full text-center p-3 px-7 border-b-white transition-all hover:border-b-blue-600 ease-in-out">
          About
        </a>
        <a href="#pricing" class="hover:text-blue-600 border-b-2 w-full text-center p-3 px-7 border-b-white transition-all hover:border-b-blue-600 ease-in-out">
          Pricing
        </a>
        <a href="#contacts"
          class="hover:text-blue-600 p-3 px-5 lg:mr-20 border-b-2 w-full text-center border-b-white transition-all hover:border-b-blue-600 ease-in-out">
          Contacts
        </a>
        <a href="#">
          <img src="../assets/search.png" class="w-8 h-8 max-w-none" />
        </a>
        <a href="#signup" class="bg-blue-600 opacity-95 hover:opacity-100 p-3 px-7 rounded-3xl text-white shadow-xl">
          Signup
        </a>
      </div>
    </div>
</nav>

<div id="home">
  <app-home></app-home>
</div>

<div id="about">
  <app-about></app-about>
</div>

<div id="contacts">
  contact us
</div>

<div id="pricing">
  Pricing
</div>

<div>
  Footer
</div>