<div class="flex flex-1 flex-col backgroundd w-screen mt-10 lg:h-screen sm:h-60 items-center p-8">
        <p class="lg:mt-36 text-xl text-white px-4 lg:text-6xl font-bold">Working with a team<br />Makes The Difference</p>
        <p class=" text-gray-100 lg:p-8 text-sm lg:text-lg">Stepgrow is a marketing agency that will take your business to the next level.</p>
        <button class="mt-20 lg:mt-10 border-gray-500 bg-white border w-36 hover:bg-slate-50 p-3 px-7 rounded-3xl text-black shadow-xl ml-5 inline-flex"><span >Call now</span> <img src="../../assets/phone-call.svg" class="w-5 h-5" /></button>
</div>